
<div class="card" style="width: 19rem;">
  <img class="card-img-top" src="{{seriesDetail.img}}" style="height: auto;">
  <div class="card-body">
      <h1>{{seriesDetail.name}}</h1>
      <br>
      <h1 class="card-title" style="font-size: larger;"> Description </h1>
      <p>{{seriesDetail.description}}</p>

      <h1 class="card-title" style="font-size: larger;"> Rating </h1>
      <p>{{seriesDetail.Rating}}</p>

      <h1 class="card-title" style="font-size: larger;"> Studio </h1>
      <p>{{seriesDetail.studio}}</p>

      <h1 class="card-title" style="font-size: larger;"> Number of Episodes </h1>
      <p>{{seriesDetail.episode}}</p>
  </div>
</div>
